{# Copy of docker-stub/env/global.override.env as Jinja2 template #}

globalSettings__baseServiceUri__vault={{ base_service_uri }}
globalSettings__baseServiceUri__api={{ base_service_uri }}/api
globalSettings__baseServiceUri__identity={{ base_service_uri }}/identity
globalSettings__baseServiceUri__admin={{ base_service_uri }}/admin
globalSettings__baseServiceUri__notifications={{ base_service_uri }}/notifications
globalSettings__baseServiceUri__sso={{ base_service_uri }}/sso
globalSettings__sqlServer__connectionString="Data Source={{ environ.db.host }},{{ environ.db.port }};Initial Catalog={{ environ.db.catalog }};Persist Security Info=False;User ID={{ environ.db.username }};Password={{ environ.db.password }};MultipleActiveResultSets=False;Connect Timeout={{ environ.db.connect_timeout }};Encrypt=True;TrustServerCertificate=True"
globalSettings__identityServer__certificatePassword={{ environ.identity.cert_pwd }}
globalSettings__attachment__baseDirectory=/etc/bitwarden/core/attachments
globalSettings__attachment__baseUrl={{ base_service_uri }}/attachments
globalSettings__dataProtection__directory=/etc/bitwarden/core/aspnet-dataprotection
globalSettings__logDirectory=/etc/bitwarden/logs
globalSettings__logRollBySizeLimit=
globalSettings__syslog__destination=
globalSettings__licenseDirectory=/etc/bitwarden/core/licenses
globalSettings__internalIdentityKey={{ environ.identity.internal_key }}
globalSettings__oidcIdentityClientKey={{ environ.identity.oidc_client_key }}
globalSettings__duo__aKey={{ global.duo.key }}
globalSettings__installation__id={{ global.license.installation_id }}
globalSettings__installation__key={{ global.license.installation_key }}
globalSettings__yubico__clientId={{ global.yubico.client_id }}
globalSettings__yubico__key={{ global.yubico.key }}
globalSettings__mail__replyToEmail={{ environ.smtp.reply_to }}
globalSettings__mail__smtp__host={{ environ.smtp.host }}
globalSettings__mail__smtp__port={{ environ.smtp.port }}
globalSettings__mail__smtp__ssl={{ environ.smtp.ssl }}
globalSettings__mail__smtp__username={{ environ.smtp.username }}
globalSettings__mail__smtp__password={{ environ.smtp.password }}
globalSettings__disableUserRegistration=true
globalSettings__hibpApiKey={{ global.hibp.api_key }}
adminSettings__admins=username@domain.com
